################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Web/MentoringPlatformApplication/Administration.API/bin/Debug/netcoreapp2.0
