################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/*
/Administration.API/bin/Debug/netcoreapp2.0/*
/Administration.API/obj/*
/Administration.API/Properties/*
/Administration.Domain/bin/Debug/netcoreapp2.0/*
/Administration.Domain/obj/*
/Administration.Infrastructure/bin/Debug/netcoreapp2.0/*
/Administration.Infrastructure/obj/*
/ClassLibrary1/obj/*
/Collaboration.API/bin/Debug/netcoreapp2.0/*
/Collaboration.API/obj/*
/Collaboration.API/Properties/*
/Collaboration.Domain/bin/Debug/netcoreapp2.0/*
/Collaboration.Domain/obj/*
/Collaboration.Infrastructure/bin/Debug/netcoreapp2.0/*
/Collaboration.Infrastructure/obj/*
/Security.API/bin/*
/Security.API/obj/*
/Security.API/Properties/*
/Security.API.Tests/bin/Debug/netcoreapp2.0/*
/Security.API.Tests/obj/*
/Security.Domain/bin/*
/Security.Domain/obj/*
/Security.Domain.Tests/bin/Debug/netcoreapp2.0/*
/Security.Domain.Tests/obj/*
/Security.Infrastructure/bin/*
/Security.Infrastructure/bin/*
/Security.TestsHelper/bin/Debug/netcoreapp2.0/*
/Security.TestsHelper/obj/*
/Security.Infrastructure/obj/*
/Security.Infrastructure.Tests/bin/Debug/netcoreapp2.0/*
/WebClientSPA/e2e/*
/WebClientSPA/node_modules/*

/Security.Infrastructure.Tests/obj/*
